doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href='/stylesheets/font-awesome.min.css')
  body
    nav
      a.apple
        i.fa.fa-apple(aria-hidden= "true")
      a(href="#") Mac
      a(href="#") iPad
      a(href="#") iPhone
      a(href="#") Watch
      a(href="#") npTV
      a(href="#") Music
      a(href="#") Support
      a.search
        i.fa.fa-search(aria-hidden= "true")
      a.shoppingChart
        i.fa.fa-shopping-bag(aria-hidden= "true")

    block content
