doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href='/stylesheets/font-awesome.min.css')
  body
    nav
      a.apple
        i.fa.fa-apple(aria-hidden= "true")
      a(href="#") Mac
      a 'iPad'
      a 'iPhone'
      a 'Watch'
      a 'TV'
      a 'Music'
      a 'Support'
      a.search
      a.shoppingChart

    block content
