body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/images/iphone-background.jpg);
  background-size: cover;
  background-position: fixed;
  
}
nav {
  background-color: black;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}
a {
  color: white;
  text-decoration: none;
}
p {
  margin-top: 0;
  font-size: 1.10em;
}
div {
  margin: 0;
  height: 100vh;
  padding-top: 12em;
  text-align: center;
}
h1 {
  font-size: 2.5em;
}
.apple {
  text-transform: uppercase; 
}